@tailwind base;
@tailwind components;
@tailwind utilities;

/* Twiter Font */

@font-face {
  font-family: TwitterChirpExtendedHeavy;
  src: url(https://abs.twimg.com/fonts/chirp-extended-heavy-web.woff2)
    format("woff2");
  src: url(https://abs.twimg.com/fonts/chirp-extended-heavy-web.woff)
    format("woff");
  font-weight: 800;
  font-style: "normal";
  font-display: "swap";
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/chirp-regular-web.woff2) format("woff2");
  src: url(https://abs.twimg.com/fonts/chirp-regular-web.woff) format("woff");
  font-weight: 400;
  font-style: "normal";
  font-display: "swap";
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/chirp-medium-web.woff2) format("woff2");
  src: url(https://abs.twimg.com/fonts/chirp-medium-web.woff) format("woff");
  font-weight: 500;
  font-style: "normal";
  font-display: "swap";
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/chirp-bold-web.woff2) format("woff2");
  src: url(https://abs.twimg.com/fonts/chirp-bold-web.woff) format("woff");
  font-weight: 700;
  font-style: "normal";
  font-display: "swap";
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/chirp-heavy-web.woff2) format("woff2");
  src: url(https://abs.twimg.com/fonts/chirp-heavy-web.woff) format("woff");
  font-weight: 800;
  font-style: "normal";
  font-display: "swap";
}

/* Bu fontu kullanmak için aşağıdaki gibi sınıflar tanımlayabilirsiniz */
.twitter-font {
  font-family: "TwitterFont", sans-serif;
}

/* Google Auth */

.button svg {
  height: 24px;
}

/* Button Girişyap */

.button-hover {
  background-color: rgba(17, 25, 40, 0.91) !important;
  backdrop-filter: blur(2px) saturate(45%) !important;
  -webkit-backdrop-filter: blur(2px) saturate(45%) !important;
}

.button-base {
  background-color: black !important;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease !important;
}

.button-base:hover {
  /* Hover durumunda uygulanacak stiller */
  background-color: rgba(17, 25, 40, 0.91) !important;
  backdrop-filter: blur(2px) saturate(45%) !important;
  -webkit-backdrop-filter: blur(2px) saturate(45%) !important;
}

/* Apple Auth */

.apple-login-button {
  max-width: 330px;
  width: 100%;
  border-radius: 24px;
  box-sizing: border-box;
  padding: 0.7rem 1.8rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  gap: 5px;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  font: bold;
  border: 2px solid #000;
  box-sizing: border-box;
  overflow: hidden;
}
button {
  justify-content: center;
  max-width: 330px;
  align-items: center;
  width: 100%;
  border-radius: 24px;
  display: flex;
  padding: 0.7rem 1.8rem;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: hsl(0, 0%, 100%);
  cursor: pointer;
  height: 44px;
  transition: all 0.6s ease;
  box-sizing: border-box;
  overflow: hidden;
}

.apple-icon {
  font-size: 2.4em;
  font-weight: 700;

  margin-bottom: 1px;
  color: #000;
}

/* input */
input {
  border: 1px solid rgb(125, 119, 119);
}

input[type="date"] {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 8px;
}

/* Firefox için */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* Chrome ve Safari için */
input[type="date"]::-webkit-datetime-edit,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  color: rgb(125, 119, 119);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

select {
  background-color: black;
  color: rgb(169, 169, 169);
  border: 1px solid #4b5563;
  border-radius: 0.375rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

input,
select {
  font-weight: 300;
}

/* Login & Signin Icon */
.icon-top {
  position: absolute;
  top: 0;
  left: 50%;
  align-items: center;
  justify-content: center;
  transform: translateY(-190%);
}

.container {
  position: relative;
  padding-top: -2.5rem;
}
/* İnput içine değer girildiğinde siyah olması */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px black inset !important;
  -webkit-text-fill-color: white !important;
}

/* Spin */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*twitter spin*/

.spin {
  animation: spin 0.6s linear infinite;
}

body {
  background-color: #000;
  background: #000;
}

@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.loading-icon {
  animation: fade 7s infinite;
}

/*post*/
.post{
  background-color:rgb(29, 155, 240);
}
